/BatailleNavale/nbproject/private/
/BatailleNavale/dist/
/BatailleNavale/build/
/BatailleNavale/.idea/
/BatailleNavale/BatailleNavale.iml
/bin/
/BatailleNavale/bin/
/BatailleNavale/.settings/
/BatailleNavale/.classpath
/BatailleNavale/.project
/BatailleNavale/out/
.project/
.metadata/
.DS_Store
.idea/
*/.DS_Store
